/* Start Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: url(../images/menu.png) center no-repeat;
  background-size: cover;
  z-index: 98;
  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
  }
  .header__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-out;
    &.overlay {
      opacity: 1;
      visibility: visible;
    }
  }
  .header__menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header__menu-logo {
      .logo__link {
        --size: 220px;
        display: block;
        width: var(--size);
        @include breakpoint(1199) {
          --size: 200px;
        }
        @include breakpoint(1679) {
          --size: 180px;
        }
        @include breakpoint(1439) {
          --size: 160px;
        }
        @include breakpoint(1199) {
          --size: 140px;
        }
        @include breakpoint(991) {
          --size: 100px;
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: var(--size);
          height: var(--size);
        }
      }
    }
    .header__menu-button {
      color: var(--white);
      cursor: pointer;
      font-size: 20px;
      margin: 15px 0;
      @include min-breakpoint(992) {
        display: none;
      }
    }
    .header__menu-list {
      display: flex;
      align-items: center;
      @include breakpoint(991) {
        display: block;
        position: fixed;
        top: 0;
        right: -280px;
        width: 280px;
        height: 100vh;
        background: linear-gradient(to top, #6dcd00, #f6ff00);
        transition: all 0.5s ease-out;
        z-index: 99;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
      }
      &.show {
        right: 0;
      }
      .list__item {
        margin: 25px 5px;
        @include breakpoint(1439) {
          margin: 20px 5px;
        }
        @include breakpoint(991) {
          margin: 20px;
        }
        &:first-child, &:last-child {
          @include min-breakpoint(992) {
            display: none;
          }
        }
        .list__item-logo {
          img {
            width: 120px;
            margin: auto;
          }
        }
        .list__item-contact {
          display: flex;
          align-items: center;
          margin-top: 3s0px;
          .contact__icon {
            img {
              width: 30px;
            }
          }
          .contact__content {
            margin-left: 5px;
            p {
              font-family: var(--ff_MyriadPro);
              color: var(--white);
              font-size: 15px;
            }
            .number {
              color: var(--green);
              font-size: 22px;
            }
          }
        }
        .list__item-link {
          display: block;
          text-align: center;
          font-size: 24px;
          color: var(--white);
          padding: 10px 30px;
          border-radius: 30px;
          background: rgba($color: #008337, $alpha: 0.8);
          line-height: 1;
          @include breakpoint(1919) {
            font-size: 22px;
          }
          @include breakpoint(1679) {
            font-size: 20px;
          }
          @include breakpoint(1439) {
            font-size: 18px;
            padding: 10px 25px;
          }
          @include breakpoint(1199) {
            font-size: 16px;
            padding: 10px 20px;
          }
          &:hover {
            background: rgba($color: #008337, $alpha: 1);

          }
        }
      }
    }
    .header__menu-contact {
      display: flex;
      align-items: center;
      @include breakpoint(991) {
        display: none;
      }
      .contact__icon {
        img {
          @include breakpoint(1439) {
            width: 32px;
          }
          @include breakpoint(1199) {
            width: 30px;
          }
        }
      }
      .contact__content {
        margin-left: 10px;
        @include breakpoint(1439) {
          margin-left: 5px;
        }
        p {
          font-family: var(--ff_MyriadPro);
          color: var(--white);
          font-size: 15px;
          @include breakpoint(1199) {
            font-size: 14px;
          }
        }
        .number {
          color: var(--yellow);
          font-size: 26px;
          @include breakpoint(1679) {
            font-size: 24px;
          }
          @include breakpoint(1439) {
            font-size: 22px;
          }
          @include breakpoint(1199) {
            font-size: 20px;
          }
        }
      }
    }
  }
}
/* End Header */